@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 4, 74, 1) 33%,
    rgba(9, 9, 121, 1) 66%,
    rgba(6, 81, 168, 1) 85%,
    rgba(4, 116, 191, 1) 91%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures full height of viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

/* Container for entire content */
.container {
  width: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.maincontainer {
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

/* Form container */
.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px;
  overflow: auto; /* Enable scrolling */
  color: white;
  font-weight: 900;
}

label {
  font-weight: 700;
  font-size: 18px;
}

/* Navigation */
nav {
  margin-bottom: 20px;
}

nav button {
  margin: 0 10px;
  background-color: #1100ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav button:hover {
  background-color: #45a049;
}

/* Heading */
h2 {
  margin-bottom: 20px;
}

/* Form elements */
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px; /* Adjust as needed */
}

/* Buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Student list */
.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
}

.student-card {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  width: 100%; /* Adjusted for grid layout */
  max-width: 400px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.596);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.student-card:hover {
  transform: scale(1.05);
}

.student-card img {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* Circle shape */
}
#image {
  width: 250px;
  height: 250px;
}

.student-card h3 {
  margin: 10px 0 5px;
}

.student-card p {
  margin: 5px 0;
}
.profdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive adjustments */
@media screen and (max-width: 400px) {
  .container,
  .formcontainer {
    width: 90%;
  }
  #backButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .file-item,
  .folder-item {
    font-size: 14px;
    padding: 8px;
  }
}
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#backButton,
#refreshButton {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#backButton i,
#refreshButton i {
  margin-right: 5px;
}

#backButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#currentPath {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

#fileList {
  text-align: left;
  margin-top: 20px;
}

.file-item,
.folder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  flex-wrap: wrap;
}

.file-item:last-child,
.folder-item:last-child {
  border-bottom: none;
}

.file-item span,
.folder-item span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.download-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.download-link i {
  margin-left: 5px;
}

.download-link:hover {
  text-decoration: underline;
}

.folder-name {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.folder-name:hover {
  text-decoration: underline;
}
